/* Reset CSS básico */

/* Define a margem e o preenchimento de todos os elementos como 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso garante que a largura e a altura incluam a borda e o preenchimento, mas não a margem */
}

/* Corrige a exibição de elementos em linha e de bloco */
/* Isso evita espaçamento extra e comportamento imprevisível */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Corrige a exibição do HTML5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* Corrige as fontes de espaço reservado no Internet Explorer 10+ */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

/* Corrige a exibição de imagens em escala no Internet Explorer 11 */
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* Adicione mais redefinições ou estilos conforme necessário */
