

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Variaveis de cores padrões */
:root{
    --color1:#F25221;
    --color1-muted:#a43918;
    --color-desc:#AF3F1C;
}


.main{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.body{
    background: linear-gradient(180deg, #CBCBCB 0%, #4A4A4A 100%);
    background-repeat: no-repeat;

}

.feed{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 5px 15px 2px #00000026;


}

.logo_header{
    margin-top: 9px;
    margin-bottom: 9px;
}

.newPost{
    
    display: flex;
    margin: 3%;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 3%;
    box-shadow: 0px 5px 15px 2px #00000026;

}
.newPost-modal{
    display: flex;
    margin: 3%;
    height: 192px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.formNewPost{
    display: flex;
    width: 78%  ;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-end;
}

.texts{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    border: 1px solid var(--color1);
    width: 100%;
    border-radius: 10px;
    
}

.title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    height: 30px;
    width: 96%;
    resize: none;
    background: none;
    color:#000000;
    border-bottom: 1px  solid var(--color1)
;
}

.publication{
    color:#000000;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    height: 60px;
    width: 96%;
    resize: none;
    background: none;
    margin-left: 2%;
    margin-top: 1%;
}

.image{

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    height: 30px;
    width: 96%;
    resize: none;
    background: none;
    color:var(--color1);
    border-top: 1px  solid var(--color1)

}

.buttons{
    font-family: 'Inter', sans-serif;
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
    gap: 16px;
    justify-content: flex-end;
}



.button1{
    display: flex;
    width: 138px;
    height: 25px;
    color: var(--color1);
    font-family: 'Inter', sans-serif;
    border: 1px solid var(--color1);
    font-size: 0.7em;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
    border-radius: 10px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;



}

.button2{
    display: flex;
    width: 138px;
    height: 25px;
    border: none;
    background-color: var(--color1);
    color: white;
    border-radius: 10px;
    font-weight: 700;
    text-align: left;
    font-size: 0.7em;
    font-family: 'Inter', sans-serif;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
    z-index: 2;
}

.button2:hover{
    transition: 0.1s; 
    background-color: var(--color1-muted);
}
.button1:hover{
    transition: 0.1s;
    border: 1px solid var(--color1-muted);

}

button:hover{
    cursor: pointer;
}

.post{
    display: flex;
    margin: 3%;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    box-shadow: 0px 5px 15px 2px #00000026;

}

.user{
    display: flex;
    gap: 10px;
    margin-left: 1.8rem;
    margin-top: 3rem;
}

.username{
    display: flex;
    flex-direction: column;
}

.namePost{
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;

}

.descriptionName{
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-desc);


}

.titlePost{
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.logoPost{
    width: 8%;
}

.contentPost{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.descriptionPost{
    display: flex;
    margin: 0rem 2rem;
    gap:1.3rem;
    flex-direction: column;
    margin-bottom: 3rem;
}

.postImage{
    width: 100%;
}

.recents{
    margin: 3%;
    display: flex;
    height: fit-content;
    border-radius: 20px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 15px 2px #00000026;


}

.copyright{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    width: 18rem;
}


.titlesection{
    margin: 2rem 3rem;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F3410;
}

.postsrecents{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;

}


.items-news{
    text-align: center;
    font-family: Inter;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    border-bottom: 1px solid #1A1A1A;
    transition: width 0.2s ease;

}

.items-news:hover{
    color: var(--color-desc);
    cursor: pointer;
    text-align: center;
    width: 150%;
    border-bottom: 1.5px solid #1A1A1A;
    transition: width 0.2s ease;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 191px;
}

.textFooter{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

}

.icons{
    display: flex;
    gap: 20px;
}
